.choose-nozzle {
  display: block;
  width: 95vw;
  height: 76.5vh;
  margin-left: 2.5vw;
  margin-top: 0.5vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 1;

  &__button {
    display: inline-block;
    width: 87vw;
    background-color: #718093;
    border-radius: 1vw;
    height: 6vw;
    margin-bottom: 1vw;
    margin-left:1vw;
    margin-right:1vw;
    padding-left:1vw;
    padding-right:1vw;
    padding-bottom:1vw;
    line-height:1.6;
  }
}