<table class="top-bar">
  <tr>
    <td class="top-bar__back" (click)="decreasePage()" matRipple [matRippleUnbounded]="false">
      <img src="assets/back.svg" class="top-bar__back-icon" />
      <ng-container i18n="@@filament-back">
        back
      </ng-container>
    </td>
    <td class="top-bar__center">
      <img src="assets/filament.svg" class="top-bar__center-icon" *ngIf="page === 0 || page === 1" />
      <div class="filament-mmu__progress-bar-wrapper" *ngIf="page > 1">
        <div class="filament-mmu__progress-bar" id="progressBar"></div>
      </div>
    </td>
    <td class="top-bar__next" (click)="increasePage()" matRipple [matRippleUnbounded]="false" *ngIf="page !== 0 && page !== 1 && page !==3 && page !==4">
      <ng-container i18n="@@filament-skip" >
        skip
      </ng-container>
      <img src="assets/next.svg" class="top-bar__next-icon"/>
    </td>
    <td class="top-bar__next" *ngIf="page === 0 || page === 1 || page === 3 || page === 4">
    </td>
  </tr>
</table>

<span class="filament-mmu-heading" *ngIf="page >=1">
  <div class="display-function__info" *ngIf="selectedMmuFilament.enabled">
    <u>
      <fa-icon [icon]="['fas', 'paint-brush']" [style.color]="selectedMmuFilament.color"></fa-icon>
      <span class="prusammu__section-heading"> slot {{ selectedMmuFilament.id }}: {{ selectedMmuFilament.name }}</span>
    </u>
  </div>
  <div class="display-function__info" *ngIf="!selectedMmuFilament.enabled">
    <u>
      <span class="prusammu__section-heading"> slot {{ selectedMmuFilament.id }}: empty</span>
    </u>
  </div>
</span>

<div class="filament-mmu">
  <app-filament-mmu-choose-nozzle
    (chooseMmuSlot)="setMmuSlot($event)"
    *ngIf="page === 0"
  ></app-filament-mmu-choose-nozzle>
  <app-filament-mmu-choose-function
    (chooseMmuFunction)="setMmuFunction($event)"
    *ngIf="page === 1"
  ></app-filament-mmu-choose-function>
  <app-filament-heat-nozzle
    (increasePage)="setPage(4)"
    [currentSpool]="selectedMmuSpool"
    *ngIf="page === 2"
  ></app-filament-heat-nozzle>
  <app-filament-choose 
    (spoolChange)="setSpool($event)" 
    *ngIf="page === 3"
  ></app-filament-choose>
  <app-filament-mmu-display-function
    (setSpoolSelection)="setSpoolSelection()"
    (unloadSpoolSelection)="unloadSpoolSelection()"
    (startCheckmarkAnim)="startCheckmarkAnim()"
    (returnToFunctionPage)="returnToFunctionPage()"
    [selectedMmuFilament]="selectedMmuFilament"
    [selectedMmuSpool]="selectedMmuSpool"
    [selectedMmuFunction]="selectedMmuFunction"
    [selectedMmuSlot]="selectedMmuSlot"
    [selectedNewSpool]="selectedNewSpool"
    *ngIf="page === 4  && !showCheckmark"
  ></app-filament-mmu-display-function>
  <div class="checkmark" *ngIf="showCheckmark">
    <ng-lottie
      id="checkmarkAnimation"
      [options]="checkmarkOptions"
      (animationCreated)="setAnimationSpeed($event)"
    ></ng-lottie>
  </div>
</div>
